<template>
  <div class="hello">
    <div class="row">
      <div class="col-md-3">
        <select class="form-control">
          <option v-for="crypto in cryptos" :key="crypto.id" :id="crypto.id">{{crypto.name}}</option>
        </select>
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control" placeholder="amount"/>
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control" placeholder="wallet location"/>
      </div>
      <div class="col-md-2">
        <datepicker class="form-control" v-model="this.date"></datepicker>
      </div>
      <div class="col-md-2">
        <button class="btn btn-success" v-on:click="addItem"> Save </button>
      </div>
    </div>
    <div class="table-responsive">
        <h1 style="text-align:center;">Portfolio Items</h1>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Cryptocurrency</th>
                    <th>Amount</th>
                    <th>Date of purchase</th>
                    <th>Wallet location</th>
                    <th>Current market value (EUR)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in items" :key="item.id">
                    <td>{{ item.crypto.name }}</td>
                    <td>{{ item.amount }}</td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.walletLoc }}</td>
                    <td>{{ item.lastPrice }}</td>
                    <td class="text-right">
                        <button type="submit" class="btn btn-danger btn-xs" id="btnDelete" v-on:click="deleteItem(item.id)">Delete Portfolio Item</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
</template>