<template>
  <div id="app">
    <v-app id="inspire">
      <v-dialog v-model="dialog" width="500">
        <v-btn slot="activator" color="blue lighten-2" dark> Add New Portfolio Item </v-btn>
        <v-card>
          <v-flex xs8 sm8 md8 offset-xs2 offset-sm2 offset-md2 d-flex id="cryptocurrency">
            <v-select :items="cryptos" item-value="id"
            @change="selectCrypto" item-text="name" box label="Cryptocurrency"></v-select>
          </v-flex>
          <v-flex xs8 sm8 md8 offset-xs2 offset-sm2 offset-md2>
            <v-text-field v-model="amount" label="Amount" box></v-text-field>
          </v-flex>
          <v-flex xs8 sm8 md8 offset-xs2 offset-sm2 offset-md2>
            <v-text-field v-model="wallet" label="Wallet location" box></v-text-field>
          </v-flex>
          <v-flex xs8 sm8 md8 offset-xs2 offset-sm2 offset-md2 d-flex>
            <v-dialog
            ref="dialog"
            v-model="modal"
            :return-value.sync="date"
            persistent
            lazy
            full-width
            width="290px"
            >
              <v-text-field
                slot="activator"
                v-model="date"
                label="Picker in dialog"
                prepend-icon="event"
                readonly
              ></v-text-field>
              <v-date-picker v-model="date" scrollable>
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click="modal = false">Cancel</v-btn>
                <v-btn flat color="primary" @click="$refs.dialog.save(date)">OK</v-btn>
              </v-date-picker>
            </v-dialog>
          </v-flex>
          <v-flex xs8 sm8 md8 offset-xs2 offset-sm2 offset-md2>
            <v-btn color="success" id="btnAdd" v-on:click="addItem">Add Portfolio Item</v-btn>
          </v-flex>
        </v-card>
      </v-dialog>

      <v-data-table
        :headers="headers"
        :items="items"
        hide-actions
        class="elevation-1"
        id="itemTable"
      >
        <template slot="items" slot-scope="props">
          <td class="text-xs-center">{{ props.item.crypto.name }}</td>
          <td class="text-xs-center">{{ props.item.amount }}</td>
          <td class="text-xs-center">{{ props.item.date }}</td>
          <td class="text-xs-center">{{ props.item.walletLoc }}</td>
          <td class="text-xs-center">{{ props.item.lastPrice }}</td>
          <td class="text-xs-center">
            <v-dialog v-model="confirmation" width="500" >
              <v-btn slot="activator" color="error" dark>Delete Portfolio Item</v-btn>

              <v-card>
                <v-card-title class="headline grey lighten-2" primary-title>Confirmation</v-card-title>
                <v-card-text><h3>Are you sure?</h3></v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="error" flat v-on:click="deleteItem(props.item.id)">Delete</v-btn>
                  <v-btn color="primary" flat @click="confirmation = false"> Cancel</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </td>
        </template>
      </v-data-table>
    </v-app>
  </div>
</template>

<script>
import axios from 'axios';
import Datepicker from 'vuejs-datepicker';

export default {
  name: 'HelloWorld',
  components: {
    Datepicker
  },
  data () {
    return {
      items: [],
      cryptos: [],
      dialog: false,
      confirmation: false,
      date: null,
      menu: false,
      modal: false,
      amount: null,
      date: null,
      wallet: null,
      cryptoCurrencyID: null,
      cryptoCurrencyName: null,
      cryptoCurrencyShortName: null,
      headers: [
        { text: 'Cryptocurrency', align: 'center', sortable: false, },
        { text: 'Amount', align: 'center', sortable: false, },
        { text: 'Date of purchase', align: 'center', sortable: false, },
        { text: 'Wallet location', align: 'center', sortable: false, },
        { text: 'Current market value (EUR)', align: 'center', sortable: false, },
        { text: 'Option', align: 'center', sortable: false, }
      ]
    }
  },
  methods: {
    selectCrypto(id) {
      const crypto = this.cryptos.find(c => c.id === id);
      this.cryptoCurrencyID = crypto.id;
      this.cryptoCurrencyName = crypto.name;
      this.cryptoCurrencyShortName = crypto.shortName;
    },
    deleteItem: function(itemID) {
      axios.delete("https://mindly-backend.herokuapp.com/item/"+itemID)
      .then(response => {
        this.confirmation = false;
        this.getItems();
      })
      .catch(error => {
        console.log(error);
      });
    },
    addItem: function(){
      axios.post("https://mindly-backend.herokuapp.com/item/",
      {
	      "crypto":{
          "id": this.cryptoCurrencyID,
          "name": this.cryptoCurrencyName,
          "shortName": this.cryptoCurrencyShortName
        },
        "amount": this.amount,
        "walletLoc": this.wallet,
        "date": this.date
      })
      .then(response => {
        this.dialog = false;
        this.getItems();
      })
      .catch(error => {
        console.log(error);
      });
    },
    getCryptos: function() {
      axios.get("https://mindly-backend.herokuapp.com/cryptos")
      .then(response => {
        this.cryptos = response.data;
      })
      .catch(error => {
        console.log(error);
      });
    },
    getItems: function() {
      axios.get("https://mindly-backend.herokuapp.com/items")
      .then(response => {
        this.items = response.data;
      })
      .catch(error => {
        console.log(error);
      });
    }
  },
  mounted: function() {
    this.getCryptos();
    this.getItems();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#cryptocurrency {
  padding-top: 20px; 
}
#itemTable {
  margin: 25px auto;
}
</style>
